.cart-order {
  padding: 30px;
  background-color: #ffe245;
  border-radius: 15px;
  font-size: 16px;
}

.list-of-items {
  padding-top: 10px;
  padding-left: 20px;
}

.bold {
  font-size: 18px;
  font-weight: bold;
}

.box {
  padding: 15px;
  background-color: #fff;
  border-radius: 13px;
}

.box-price {
  padding: 15px;
  background-color: #fff;
  border-radius: 13px;
  margin-top: 15px;
}

.box-date {
  padding: 15px;
  background-color: #fff;
  border-radius: 13px;
  margin-top: 15px;
}
