header {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);

  .header-content {
    width: 100%;
    height: 80px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    .right-content {
      width: 160px;
      outline: none;
      cursor: pointer;

      img {
        width: 100%;
      }
    }

    .left-content {
      max-width: 240px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 5px;

      button {
        margin: 0 10px;
        padding: 7px 15px;
        height: 30px;
        border-radius: 22px;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid #e8e8e8;
        transition: all 200ms ease-in-out;
        transform-origin: center;
        outline: none;
        box-sizing: border-box;

        &:hover {
          border: 1px solid transparent;
          font-weight: bold;
          background: #ffe245;
        }
      }

      .menu-btn {
        margin: 0;
        padding: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: transparent!important;

        img {
          width: 100%;
          border-radius: 50%;
          object-fit: cover;
        }

        &:hover {
          transform: scale(1.025);
          background: transparent!important;
        }
      }
    }
  }
}
