<div class="card">
  <div class="content">

    <div class="img-part">
      <img [src]="restaurant.imageUrl" alt="Product photo">
    </div>

    <div class="footer-part">
      <h3>{{restaurant.name}}</h3>
      <div class="text">
                <span>
                <mat-icon class="icon-color" aria-hidden="false" aria-label="Example home icon">grade</mat-icon>
                  {{restaurant.rating}}
              </span>
        <span>
                <mat-icon class="icon-color" aria-hidden="false" aria-label="Example home icon">payments</mat-icon>
                ттт
              </span>
      </div>
    </div>

  </div>
</div>
