<main>
  <div class="wrapper">
    <div class="content">

      <div class="flex-box">

        <div class="big-child">
          <div class="content-title" [style.background-image]="imageUrl">

            <div class="title-box">
              <div class="rating-box">
                <mat-icon class="icon-color" aria-hidden="false" aria-label="grade icon">grade</mat-icon>
                {{restaurant.rating}}
              </div>

              <div>
                <h1>
                  {{ restaurant.name }}
                </h1>
              </div>

              <div class="devide-line"></div>

              <div class="child-flex">

                <div class="child ch-one">

                  <div class="btn-box">

                    <button class="btn"  mat-button [matMenuTriggerFor]="menu">

                      <div class="svg-icon">
                        <mat-icon class="icon-color" aria-hidden="false" aria-label="Example home icon">local_shipping</mat-icon>
                      </div>

                      <div class="text-desc">
                        <div [style.font-size]="'14px'">
                          Условия доставки
                        </div>

                        <div [style.font-size]="'16px'">
                          Бесплатно
                        </div>
                      </div>

                    </button>

                    <mat-menu #menu="matMenu">
                      <button mat-menu-item class="mat-menu-body">

                        <h3>Условия доставки</h3>
                        <p class="grey">Доставку выполнят партнёры Яндекс.Еды</p>
                        <p class="p-flex">
                          <span>а заказ от {{restaurant.freeDeliveryCost}}</span>
                          <span>0</span>
                        </p>

                        <h3>Лимиты</h3>
                        <p>Минимальная стоимость заказа
                          {{restaurant.orderCostLimit}}
                        </p>
                      </button>
                    </mat-menu>

                  </div>

                  <div class="price-deliver">
                    <span [style.font-size]="'14px'">Заказ от</span>
                    <span [style.font-size]="'16px'">{{restaurant.orderCostLimit}}</span>
                  </div>

                </div>

                <div class="child">
                  <button class="btn"  mat-button [matMenuTriggerFor]="menu2">

                    <div class="text-about">
                      <div [style.font-size]="'14px'">
                        Информация о ресторане
                      </div>
                    </div>

                    <div class="info-icon"></div>

                  </button>

                  <mat-menu #menu2="matMenu">
                    <button mat-menu-item class="mat-menu-body">
                      <h3>{{restaurant.name}}</h3>
                      <p class="grey">Режим работы: с 10:00 до 21:45</p>
                    </button>
                  </mat-menu>
                </div>

              </div>

            </div>

          </div>

          <div class="menus-box">

            <div class="menu-tabs">
              <a class="tag" *ngFor="let tag of restaurant.productListType">{{tag}}</a>
            </div>

            <div class="menu-item-list">
              <div *ngFor="let tagWithProduct of tagWithProducts">
                <h2>{{ tagWithProduct.tag | uppercase}}</h2>

                <div class="list-of-items">
                  <app-product-card *ngFor="let product of tagWithProduct.products"
                                    [style.margin]="'15px 0'"
                                    [product]="product"
                                    (click)="toCart(product)"
                  ></app-product-card>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="simple-child">
          <app-cart [restaurant]="restaurant"
                    [cartItems]="cartItems"
                    (removeItemIndex)="removeProduct($event)"
          ></app-cart>
        </div>
      </div>

    </div>
  </div>
</main>
