main {
  margin-top: 90px;

  .wrapper {
    box-sizing: border-box;
    margin: 10px 50px;

    .content {
      box-sizing: border-box;
      border: 1px solid #eee;
      border-radius: 5px;

      .tag-menu {
        padding: 20px 100px;
        border-bottom: 1px solid #eee;
        box-sizing: border-box;
      }

      .carousel-box {
        border-bottom: 1px solid #eee;
      }

      .food-flex-box {
        box-sizing: border-box;
        padding: 25px 100px;

        .card-box {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }

        h2 {
          font-size: 24px;
          line-height: 20px;
        }
      }
    }
  }
}

.is-select {
  background-color: #ffe245;
}
