<div class="cart-order">
  <p class="bold">Add new Card</p>
  <form>
    <div class="box-price">
      <label class="bold">Card Number: </label>
      <input type="text" [(ngModel)]="cardNumber" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="box-price">
      <label class="bold">Date: </label>
      <input type="text" [(ngModel)]="date" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="box-price">
      <label class="bold">Full Name: </label>
      <input type="text" [(ngModel)]="userFullName" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="box-price">
      <label class="bold">CVC: </label>
      <input type="text" [(ngModel)]="cvc" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="action-btns">
      <button class="simple-btn" (click)="close()">Cancel</button>
      <button class="green" (click)="saveCard()">Save</button>
    </div>
  </form>
</div>
