<div class="cart-order">
  <p class="bold">Add new Card</p>
  <form [formGroup]="cardForm">
    <div class="box-price">
      <label class="bold">Card Number: </label>
      <input type="text" formControlName="cardNumber">
    </div>

    <div class="box-price">
      <label class="bold">Date: </label>
      <input type="text" formControlName="date">
    </div>

    <div class="box-price">
      <label class="bold">Full Name: </label>
      <input type="text" formControlName="userFullName">
    </div>

    <div class="box-price">
      <label class="bold">CVC: </label>
      <input type="text" formControlName="cvc">
    </div>

    <div class="action-btns">
      <button class="simple-btn" (click)="close()">Cancel</button>
      <button class="green" (click)="saveCard()">Save</button>
    </div>
  </form>
</div>
