main {
  margin-top: 90px;
  min-height: 500px;

  .wrapper {
    box-sizing: border-box;
    margin: 150px 200px 0;

    .content {

      h1 {
        font-size: 3.15rem;
        font-weight: bold;
      }

      .mat-tabs {
        margin: 30px 0 0;
      }
    }
  }
}

.is-active {
  background-color: #ffe245;
}
