.cart-order {
  padding: 30px;
  background-color: #ffe245;
  border-radius: 15px;
  font-size: 16px;
  position: relative;
}

.list-of-items {
  padding-top: 10px;
  padding-left: 20px;
}

.bold {
  font-size: 18px;
  font-weight: bold;
}

.box {
  padding: 15px;
  background-color: #fff;
  border-radius: 13px;
}

.box-price {
  padding: 15px;
  background-color: #fff;
  border-radius: 13px;
  margin-top: 15px;
}

.box-date {
  padding: 15px;
  background-color: #fff;
  border-radius: 13px;
  margin-top: 15px;
}

.btv-delete {
  position: absolute;
  right: 10px;
  top: 15px;
  border: none;
  background-color: #000;
  border-radius: 3px;
  color: #ffe245;
  cursor: pointer;
}
